/* waveAnime */
.wave {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    overflow: hidden;
    z-index: 1;
    animation: waveLRAnimation 1.4s linear;
}

.wave.right {
    animation: waveRLAnimation 1.4s linear;
}

.wave:before,
.wave:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 200%;
    height: inherit;
    background: linear-gradient(to right, #ffffff73 10%, #00b0f0 90%);
}

.wave.right:before,
.wave.right:after {
    background: linear-gradient(270deg, #ffffff73 0%, #00b0f0 100%);
}


.wave:before {
    left: -200%;
}

.wave:after {
    left: 0;
}

.wave.right:before {
    right: -200%;
}

.wave.right:after {
    right: 0;
}

@media screen and (max-width:426px) {
    .wave {
        animation: waveLRAnimation 1.8s linear;
    }

    .wave.right {
        animation: waveRLAnimation 1.8s linear;
    }
}

@keyframes waveLRAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes waveRLAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}